
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

  <head>

    <meta charset="UTF-8">

	<title>SOS</title>

	<meta name="description" content="FEMINA is a Responsive OnePage Feminist Activism for Non-Profit, Charity Fundraising Organisation">


	<!-- Mobile Specific Meta -->

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->



    <!-- Bootstrap -->

    <link href="{% static 'sosapp/assets/css/bootstrap.css' %}" rel="stylesheet">



    <!-- TimeCirlce style -->

    <link rel="stylesheet" href="{% static 'sosapp/assets/css/TimeCircles.css' %}">



    <!-- Magnific Popup style -->

    <link rel="stylesheet" href="{% static 'sosapp/assets/css/magnific-popup.css' %}">

    

    <!-- Custom stylesheet-->

    <link rel="stylesheet" href="{% static 'sosapp/assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'sosapp/assets/css/responsive.css' %}">

    

    <!-- Font awesome -->

    <link rel="stylesheet" href="{% static 'sosapp/assets/font-awesome-4.3.0/css/font-awesome.min.css' %}">

    



    <!-- Added google font -->

    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:700%20Open+Sans:400italic,700,600,800,400' rel='stylesheet' type='text/css'>



    <!--Fav and touch icons-->

   <link rel="shortcut icon" href="{% static 'sosapp/images/icons/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'sosapp/images/icons/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'sosapp/images/icons/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'sosapp/images/icons/apple-touch-icon-114x114.png' %}">




    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

    <!--[if lt IE 9]>

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>

      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>   

  

       <!-- header start -->

         <header id="header" class="single-page-nav">	

            <!-- Sticky Navigation Start -->

            <div id="header-top" class="header-top">

               <nav class="navbar navbar-default" role="navigation">

                    <div class="container">

                        <div class="row">

                            <div class="col-sm-12">

                                <div class="nav-block">

                                    <div class="row">

                                        <div class="col-sm-3 logo-block">

                                            <!-- Brand and toggle get grouped for better mobile display -->

                                          <div class="navbar-header">

                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=

                                            "#bs-example-navbar-collapse-1">

                                              <span class="sr-only">Toggle navigation</span>

                                              <span class="icon-bar"></span>

                                              <span class="icon-bar"></span>

                                              <span class="icon-bar"></span>

                                            </button>

                                            <div class="logo">

                                                <h1><a href="#">FEMINA</a></h1>

                                            </div>

                                            <!-- /.logo end -->

                                          </div>

                                        </div>

                                        <div class="col-sm-9 navigation-bar">

                                            <!-- Collect the nav toggling -->

                                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                                              <ul class="nav navbar-nav">

                                                <li><a href="#">HOME</a></li>
                                                <li><a href="#">ABOUT US</a></li>
                                                <li><a href="#">CAUSES</a></li>
                                                <li><a href="#">EVENTS</a></li>
                                                <li><a href="#">MEMBERS</a></li>
                                                <li><a href="#">NEWS</a></li>
                                                <li><a href="#">Contact</a></li>

                                                <li><a href="#">Donate<i class="fa fa-heart"></i></a></li>

                                              </ul>             

                                            </div><!-- /.navbar-collapse -->

                                        </div>

                                    </div>

                                </div><!-- /.nav-block -->

                            </div>		       			       			

                        </div>

                    </div>

               </nav> <!-- nav end -->

           </div><!-- /.header-top -->

            <!-- Sticky Navigation End -->	   

       </header>

       <!-- header end -->

	                

        <section class="blog-bg">

        	<div class="color-overlay">

        		<div class="container">

	        		<div class="row">

	        			<div class="col-sm-12 text-center">

	        				<div class="blog-title">

	        					<h3>Women Empowerment</h3>

	        					<p>Women Empowerment on the Train of ICT</p>

	        				</div>

	        			</div>

	        		</div>

	        	</div>

        	</div> 

        	<!-- /.color-overlay end -->       		

    	</section>

    	<!-- /.blog-bg end --> 



 		<!-- blog content start -->

        <section class="blog-content">

        	<div class="container">

        		<div class="row">

        			<div class="col-sm-9">

        				<div class="single-blog-content">

        					<div class="single-blog-image">

        						<img class="img-responsive" src="i{% static 'sosapp/images/post_image.png' %}" alt="blog image">

        					</div>

        					<!-- /.single-blog-image -->

        					<div class="single-blog-meta">

        						<ul>

        							<li><i class="fa fa-clock-o"></i>24 December, 2014</li>

        							<li><i class="fa fa-folder-open"></i>Women Corner</li>

        							<li><i class="fa fa-tag"></i>Women, feminist</li>

        						</ul>

        					</div>

        					<!-- /.single-blog-meta -->

        					<div class="single-blog-detail">

								<div class="single-blog-upper">

									<h3>Women Empowerment on the Train of ICT</h3>

    						        <p>Recognizing the complexity of the relationship between women and technology, by the 1980s feminists were exploring the gendered character of technology itself. Both socialist and radical feminists began to analyze the gendered nature of technical expertise, and put the spotlight on the artifacts themselves. The social factors that shape different technologies came under scrutiny, especially the way technology reflects gender divisions and inequalities. The problem was not only men’s monopoly of technology, but also the way gender is embedded in technology itself (J. Wajcman, Cambridge Journal of Economics 2009).</p>

									<p>For radical feminism, women and men are fundamentally different and women’s power, women’s culture and women’s pleasure are regarded as having been systematically controlled and dominated by men, operating through patriarchal institutions like medicine and militarism. Western technology, like science, is deeply implicated in this masculine project of the domination and control of women and nature. This approach has been particularly influential in relation to the technologies of human biological reproduction (Corea et al., 1985; Spallone and Steinberg, 1987).</p>

								</div>

								<!-- /.single-blog-lower -->

								<blockquote>

								  <span class="left-quote"><i class="fa fa-quote-left"></i></span>

								  <p>For some people, the point of no return begins at the very moment their <br> sould become aware of each other's existence.</p>

								  <span class="right-quote"><i class="fa fa-quote-right"></i></span>

								</blockquote>

								<!-- blockquote end -->

								<div class="single-blog-lower">

									<p>The socialist feminist approach began by revealing that the division of labor was also a sexual hierarchy, and that its gendered nature was not incidental. A crucial historical perspective was brought to bear on the analysis of men’s monopoly of technology. Extensive research has demonstrated that women’s exclusion from technology was as a consequence of the male domination of skilled trades that developed during the Industrial Revolution (Bradley, 1989; Cockburn, 1983; Milkman, 1987). </p>

									<p>The Key Forms and Features of Women's Empowerment</p>

									<ul class="single-post-item">

										<li><i class="fa fa-check"></i>Social Empowerment</li>

										<li><i class="fa fa-check"></i>Political Empowerment</li>

										<li><i class="fa fa-check"></i>Technological Empowerment</li>

										<li><i class="fa fa-check"></i>Psychological Empowerment</li>

									</ul>

									<!-- /.single-post-item -->

									<h4>SOME WONDERFUL MOMENT</h4>

									<ul class="single-post-thumnail">

										<li><a class="gallery-popup-1" href="images/gallery/gallery_image_04.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_01.png" alt="image"></a></li>

										<li><a class="gallery-popup-1" href="images/gallery/gallery_image_06.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_02.png" alt="image"></a></li>

										<li><a class="gallery-popup-1" href="images/gallery/gallery_image_02.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_03.png" alt="image"></a></li>

										<li><a class="gallery-popup-1" href="images/gallery/gallery_image_05.jpg"><img class="img-thumbnail img-responsive" src="images/post_moment_04.png" alt="image"></a></li>

									</ul>

									<!-- /.single-post-thumnail -->

									<p>To understand the failure or success of the skilled development training for women, we must be considering the core issues which help women to empower themselves and their communities in terms of ICT uses. In the next two chapter I am going analyzing and conceptualizing the field results of this paper and I will try to find out that how much effective and necessity of ICT to empower women.</p>

								</div>

								<!-- /.single-blog-lower -->

        					</div>

        					<!-- /.single-blog-detail -->

        					<div class="single-social-block">

        					    <span>Share</span>

        						<a href=""><i class="fa fa-facebook"></i></a>

		        				<a href=""><i class="fa fa-twitter"></i></a>

		        				<a href=""><i class="fa fa-google"></i></a>

		        				<a href=""><i class="fa fa-share-alt"></i></a>

        					</div> 

        					<div class="comment-block">

        					    <h5>COMMENTS (10)</h5>

        						<ul class="media-list">

								    <li class="media">

									    <div class="media-left">

									      <a href="#">

									        <img class="media-object" src="images/avatar.png" alt="media">

									      </a>

									    </div>

									    <div class="media-body">

									      <h4 class="media-heading">Jimi Femina <small>DECEMBER 25, 2016</small></h4>

									      <p>In the time of training or immediate after training if any candidates are facing any problem regarding with the content, is she can get full support?</p>

									      <p><a href="" class="btn default-btn">REPLY</a></p>

									    </div>

								    </li>

								</ul>

								<ul>

                                    <li class="media">

							        <div class="media-left">

							          <a href="#">

							            <img class="media-object" src="images/avatar.png" alt="media">

							          </a>

							        </div>

							        <div class="media-body">

							          <h4 class="media-heading">Mimi Femina <small>January 26, 2017</small></h4>

							          <p>Yeah, She can get full support from our expert.</p>

							          <p><a href="" class="btn default-btn">REPLY</a></p>

							          <!-- Nested media object -->

							        </div>

							      </li>

								</ul>

        					</div>

        					<!-- /.comment-block -->

        					<div class="reply-block">

        						<h5>LEAVE A REPLY</h5>

        						<div class="contact">

	        						<form class="comment_form" role="form" action="#">

		                                <div class="row">

		                                	<div class="col-sm-6">

		                                		<div class="form-group">

												    <input type="text" class="form-control" id="name" name="name" placeholder="Your name..." required="required">

												</div>

		                                	</div>

		                                	<div class="col-sm-6">

		                                		<div class="form-group">

												    <input type="email" class="form-control" id="email" name="email" placeholder="Your email" required="required">

												</div>

											</div>

											<div class="col-sm-12">

												<div class="form-group">

												    <textarea class="form-control" name="message" id="message" placeholder="Write your message"></textarea>

												 </div>

										    </div>

										    <div class="col-sm-12 text-right">

												 <div class="form-group">

												 	<input type="submit" name="submit" class="btn default-btn" value="SUBMIT">

												 </div>

											</div>

											<div class="col-sm-12">

												<p class="contact-success">Your Message has been Successfully Sent!</p>

												<p class="contact-error">Error! Something went wrong!</p>

											</div>

		                                </div>

	        						</form>

        						</div>

        						

        					</div>

        					<!-- /.reply-block end -->					

        				</div>

        				<!-- /.single-blog-content end -->

        			</div>

        			<div class="col-sm-3">

        				<aside>

        				    <div class="sidebar-single-post">

        				        <div class="sidebar-single-post-img">

        				        	<img class="img-responsive" src="{% static 'sosapp/images/author.png' %}" alt="Single post image">

        				        </div>

        				        <!-- /.sidebar-single-post-img -->

	        				    <div class="sidebar-single-post-detail">

	        				    	<h5>MIMI FEMINA</h5>

	        				    	<p>Mimi is a women activist based in Italy. She is currently studying Sociology as a major and International Co-ordinator of Femina.</p>

	        				    </div>        				    	

        				    </div>

        				    <!-- /.sidebar-single-post -->

        					<div class="popular-post">

        						<h5>POPULAR POST</h5>

        						<ul>

        							<li>

        								<div class="popular-img">

        									<img class="img-responsive" src="{% static 'sosapp/images/post_thumb_01.png' %}" alt="post image">

        								</div>

        								<p><a href="#">Women Are Born Free</a> <span> 2 hours ago </span> </p>

        							</li>

        							<li>

        								<div class="popular-img">

        									<img class="img-responsive" src="{% static 'sosapp/images/post_thumb_02.png' %}" alt="post image">

        								</div>

        								<p><a href="#">Say No To Rape</a><span> 2 hours ago </span> </p>

        							</li>

        							<li>

        								<div class="popular-img">

        									<img class="img-responsive" src="{% static 'sosapp/images/post_thumb_03.png' %}" alt="post image">

        								</div>

        								<p><a href="#">Femina Make My day</a><span> 2 hours ago </span> </p>

        							</li>

        							<li>

        								<div class="popular-img">

        									<img class="img-responsive" src="{% static 'sosapp/images/post_thumb_04.png' %}" alt="post image">

        								</div>

        								<p><a href="#">Summer Movement Successful</a><span> 2 hours ago </span> </p>

        							</li>

        						</ul>

        					</div>        					

        					<div class="wedding-video">

        						<h5>FEMINA VIDEO</h5>

        						<p>Femina is one of the great feminst organisation among various active organisation who are currently working for women rights.</p>

        						<div class="embed-responsive embed-responsive-16by9">

								  <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/105381943?color=0c9bdf" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

								</div>

        					</div>

        				</aside>

        				<!-- sidebar end here -->

        			</div>

        		</div>

        	</div>

        </section>

        <!-- /.blog content end -->   

        

        

	    <!-- footer start -->

   <footer>

   	    <div class="container">

   	    	<div class="row">

   	    		<div class="col-sm-4">

   	    			<h4>FEMINA</h4>

   	    			<p>To learn more about femina and our past activities you can visit the following links.</p>

   	    			<div class="row">

	    				<div class="col-sm-6">

	    					<ul>

	    						<li><a href="#"> <i class="fa fa-angle-right"></i> Mission and Vission</a></li>

	    						<li><a href="#"> <i class="fa fa-angle-right"></i> Our Project</a></li>

	    						<li><a href="#"> <i class="fa fa-angle-right"></i> Our Movement</a></li>

	    					</ul>

	    				</div>

	    				<div class="col-sm-6">

	    					<ul>

	    						<li><a href="#"> <i class="fa fa-angle-right"></i> Our Partners</a></li>

	    						<li><a href="#"> <i class="fa fa-angle-right"></i> Our Members</a></li>

	    						<li><a href="#"> <i class="fa fa-angle-right"></i> Latest Blog</a></li>

	    					</ul>

	    				</div>

	    			</div>    			

   	    		</div>

   	    		<div class="col-sm-4">

   	    			<h4>SUBSCRIBE</h4>

   	    			<p>Subscribe our online newsletter to know latest events, news, programs and projects.</p>

   	    			<form class="newsletter-signup">

   	    				<div class="form-group">

						   <label class="sr-only" for="email">Your email address</label>

						   <div class="input-group">

						     <input type="email" name="email" placeholder="Your email address" class="form-control" >

						     <input type="submit" class="form-control input-group-addon" value="SUBSCRIBE">

						   </div>

						</div>

					  <p class="newsletter-success"></p>

					  <p class="newsletter-error"></p>

   	    			</form>

   	    		</div>

   	    		<div class="col-sm-4">

   	    			<h4>FLICKER PHOTOS</h4>

   	    			<ul class="photo">

   	    				<li><a href="#"><img class="img-responsive" src="./images/footer_flickr_01.jpg" alt="image"></a> </li>

   	    				<li><a href="#"><img class="img-responsive" src="./images/footer_flickr_02.jpg" alt="image"></a></li>

   	    				<li><a href="#"><img class="img-responsive" src="./images/footer_flickr_03.jpg" alt="image"></a></li>

   	    				<li><a href="#"><img class="img-responsive" src="./images/footer_flickr_04.jpg" alt="image"></a></li>

   	    			</ul>

   	    		</div>

   	    	</div>

   	    </div>

   	    <div class="copyright">

   	    	<div class="container">

   	    		<div class="row">

   	    			<div class="col-sm-6">

   	    				<ul>

   	    					<li><a href="#"><i class="fa fa-facebook"></i></a></li>

       	    				<li><a href="#"><i class="fa fa-twitter"></i></a></li>

   	    					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>

   	    				</ul>

   	    			</div>

   	    			<div class="col-sm-6 text-right">

   	    				<p>© 2015 CodePassenger - Feminist Activism Template By CodePassanger</p>

   	    			</div>

   	    		</div>

   	    	</div>

   	    </div>

   	    <!-- /.copyright end -->

   	    <div id="go-to-top">

			<a href="#header-top"><i class="fa fa-angle-up"></i></a>

		</div>

   </footer>

   <!-- footer end -->



	  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'sosapp/assets/js/jquery.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'sosapp/assets/js/bootstrap.min.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="{% static 'sosapp/assets/js/smoothscroll.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.localScroll.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.nav.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.flexslider-min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.mixitup.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/TimeCircles.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.placeholder.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/matchMedia.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/wow.js' %}"></script>
    <script src="{% static 'sosapp/assets/horizon-swiper-dist/horizon-swiper.min.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/default-data.js' %}"></script>
    <script src="{% static 'sosapp/assets/js/script.js' %}"></script>



      <script>

		$(document).ready(function() {

			"use strict";

				 $('.gallery-popup-1').magnificPopup({

					  type:'image',

					  closeBtnInside:true,

					  // Delay in milliseconds before popup is removed

					  removalDelay: 300,

				

					  // Class that is added to popup wrapper and background

					  // make it unique to apply your CSS animations just to this exact popup

					  //mainClass: 'mfp-fade',

					  gallery: {

						  enabled: true, // set to true to enable gallery

				

						  preload: [0,2], // read about this option in next Lazy-loading section

				

						  navigateByImgClick: true,

				

						  arrowMarkup: '<button title="%title%" type="button" class="mfp-arrow mfp-arrow-%dir%"></button>', // markup of an arrow button

				

						  closeMarkup: '<button title="%title%" class="mfp-close"><i class="mfp-close-icn">&times;</i></button>',

				

						  tPrev: 'Previous (Left arrow key)', // title for left button

						  tNext: 'Next (Right arrow key)', // title for right button

						  //tCounter: '<span class="mfp-counter">%curr% of %total%</span>' // markup of counter

						}

				   });

			});

     </script>

 

  </body>

  </html>
