/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

/* content styles */
.item {
	display:table;
}
.content {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}
.content:before {
    content:"Content";
    font-family:sans-serif;
    font-size:12px;
    letter-spacing:1px;
    color:#747474;
}
.the-white-circle{
    display:inline-block;
	height: 200px;
	width: 200px;
	border: 10px solid white;
	border-radius: 50%;
	position:relative;
	word-wrap: break-word;
    text-align: center;
    color: #fff;
    background: transparent;
    transition:  all 0.2s linear;
}
.the-white-circle:hover{
 	transform: scale(0.95);
 	color: #f24b6a;
}
.the-bottom-text{

	font-family: 'Droid Sans', sans-serif;
	padding: 10px; 
	font-size: 20px!important;
	font-weight: 500;
	text-align: center;
}
.horizon-swiper{
	background: transparent!important;
	overflow-y: visible!important;
}
.horizon-item  {
	padding: 10px;
    text-align:center;
}

.fa-4 {
    font-size: 4em!important;
}
.horizon-next{
	background: none!important;	
	border: 1px solid white !important;
}
.horizon-next:before {
	font: normal normal normal 35px/1 FontAwesome;
    content: "\f105";
}
.horizon-next:hover:enabled{
    border: 2px solid #f24b6a !important;
    color: #f24b6a;
}

.horizon-prev{
	border: 1px solid white !important;
}
.horizon-prev:hover:enabled{
    border: 2px solid #f24b6a !important;
    color: #f24b6a;
}
.horizon-prev:before {
	font: normal normal normal 35px/1 FontAwesome;
    content: "\f104";
}

#contact-form .form-control:focus{
    box-shadow: 1px 2px 10px -1px #CCC ;
}
#contact-form .form-control{
    transition :all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s ;
}
label.red-focus{
    background: rgba(220,220,220,0.8);
    font-weight: 500;
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
    color: red !important;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/* modal css override */

.modal-backdrop.in{
opacity: 0.8;
}
.modal-body{
    padding: 0px;
}
.ql-editor .ql-video{
    height: auto;
    width: 500px;
}
#editor{
    height: 400px;
}

.donate > ul{
    padding: 0px;
    border: 0px;
    box-shadow: 0px 0px 5px rgba(50,50,50,0.5);
}
.profile-dropdown-li a{
    background: white !important;
    color: #F5143D!important;
    transition: all 0.5s;
}
.profile-dropdown-li a:hover{
    background:#DEDEDE!important;
}
.gradient-bg{
background: #ffffff url("/collectstatic/sosapp/images/bg-pattern.png");

}


.tabs-left, .tabs-right 
  padding-top: 2px;
}
.tabs{
    transition: initial!important;
}
.tabs-left {
    transition: all 0s !important; 
  border-right: 1px solid red;
  border-bottom: 0px;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
    .tabs-right>li {
      margin-left: -1px;
    }
    .tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
}

.tabs-right>li.active>a,
.tabs-right>li.active>a:hover,
.tabs-right>li.active>a:focus {
  /*border-bottom: 1px solid #ddd;*/
  /*border-left-color: transparent;*/
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
.tabs-right>li>a {
  border-radius: 0 4px 4px 0;
  margin-right: 0;
}

.nav > li > a:hover, .nav > li > a:focus, .nav > li.current > a {
    color: #000;
}
.nav-tabs > li > a:hover {
    border-color: #bbb #bbb #ddd;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.tabs-left>li>a {
    color: #000;
}

.nav > li > a{
-webkit-transition:all linear 0s !important;
    transition: all linear 0s !important;
}
.tab-content{
padding: 0px; 
}
.hide-me-initially{
    display: none;
}
.tab-pane{
    background: rgba(0,0,0,0.05);
   padding: 20px;
   width: 100%;
   border-right: 10px solid #F5143D;
}